.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}
.sidebar__avatar {
  margin-bottom: 10px;
}
.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.sidebar__stat {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.sidebar__stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}
.sidebar__statNumber {
  font-weight: bold !important;
  color: #0a66c2 !important;
}
.sidebar__stats {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid lightgray;
}
.sidebar__top > h4 {
  font-size: 15px;
  color: rgb(179, 172, 172);
}

.sidebar__top__ h2 {
  font-size: 18px;
}
.sidebar__bottom {
  margin-top: 10px;
  background-color: white;
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
